

a {
	width: 60px;
	text-decoration: none;
	color: black;
	
}

ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}

li{
	display: inline;
	float: right;
	padding: 10px;
}

.buttons:hover{

	text-decoration: underline;
}	




	